# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
logs/
media/
static/
db.sqlite3

# Virtual environment
venv/
env/

# IDE
.vscode/
.idea/

# System files
.DS_Store